@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Roger Bollmann<br />
    Rietackstrasse 7<br />
    8610 Uster<br />
    <strong>Support:</strong>   <a href="roger.bollmann@gmail.com">roger.bollmann@gmail.com</a>
</address>
